# =========================
# Backend (.NET / C#)
# =========================
[Bb]in/
[Oo]bj/
[Oo]ut/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log

# =========================
# Frontend (Angular / Node)
# =========================
node_modules/
dist/
out-tsc/
.angular/
npm-debug.log
yarn-error.log

# =========================
# OS & IDE Files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp