<div class="container mx-auto p-4 max-w-lg">
    <h2 class="text-2xl font-bold mb-4">{{ isEditMode ? 'Editar Rol' : 'Crear Nuevo Rol' }}</h2>
    <form (ngSubmit)="onSubmit()" #roleForm="ngForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nombreRol">
                Nombre del Rol
            </label>
            <input [(ngModel)]="role.nombreRol" name="nombreRol" id="nombreRol" type="text" required
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="descripcion">
                Descripción
            </label>
            <textarea [(ngModel)]="role.descripcion" name="descripcion" id="descripcion" rows="3"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
        </div>

        <div class="flex items-center justify-between">
            <button type="submit" [disabled]="!roleForm.form.valid"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                {{ isEditMode ? 'Guardar Cambios' : 'Crear' }}
            </button>
            <a routerLink="/configuration/roles"
                class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                Cancelar
            </a>
        </div>
    </form>
</div>